<div class="company slider">
 <div class="viewport">
   <div class="slidewrapper">
     <div class="slide-item">
       <div class="slide-content">
         <div class="container">
           <div class="row">
             <div class="col-md-10 offset-md-1">
               <div class="row">
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="slide-item">
       <div class="slide-content">
         <div class="container">
          <div class="row">
             <div class="col-md-10 offset-md-1">
               <div class="row">
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
               </div>
             </div>
           </div>
           
         </div>
       </div>
     </div>
     <div class="slide-item">
       <div class="slide-content">
         <div class="container">
           <div class="row">
             <div class="col-md-10 offset-md-1">
               <div class="row">
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="slide-item">
       <div class="slide-content">
         <div class="container">
           <div class="row">
             <div class="col-md-10 offset-md-1">
               <div class="row">
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="slide-item">
       <div class="slide-content">
         <div class="container">
           <div class="row">
             <div class="col-md-10 offset-md-1">
               <div class="row">
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="slide-item">
       <div class="slide-content">
         <div class="container">
           <div class="row">
             <div class="col-md-10 offset-md-1">
               <div class="row">
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
                 <div class="col-md-4">Biglions</div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
  
</div>
<div class="navigation">
 
  <div class="nav-item nav-btn slideBtn btn1 active" data-number="1">
    О Нас
  </div>
  <div class="nav-item separator"></div>
  <div class="nav-item nav-btn slideBtn btn2" data-number="2">
    Наша миссия
  </div>
  <div class="nav-item separator"></div>
  <div class="nav-item nav-btn slideBtn btn3" data-number="3">
    Команда
  </div>
  <div class="nav-item separator"></div>
  <div class="nav-item nav-btn slideBtn btn4" data-number="4">
    Клиент
  </div>
  <div class="nav-item separator"></div>
  <div class="nav-item nav-btn slideBtn btn5" data-number="5">
    Отзывы
  </div>
  <div class="nav-item separator"></div>
  <div class="nav-item nav-btn slideBtn btn6" data-number="6">
    Вакансии
  </div>
   
 
</div>