<div class="main slider">
 <div class="viewport">
   <div class="slidewrapper">
     <div class="slide-item">
       <div class="slide-content intro1"></div>
     </div>
     <div class="slide-item">
       <div class="slide-content intro2"></div>
     </div>
     <div class="slide-item">
       <div class="slide-content intro3"></div>
     </div>
     <div class="slide-item">
       <div class="slide-content intro4"></div>
     </div>
   </div>
 </div>
  
</div>
<div class="navigation">
  <div class="nav-item nav-btn progress-bar btn1" data-number="1">
    <div class="progress"></div>
  </div>
  <div class="nav-item nav-btn progress-bar btn2" data-number="2">
    <div class="progress"></div>
  </div>
  <div class="nav-item nav-btn progress-bar btn3" data-number="3">
    <div class="progress"></div>
  </div>
  <div class="nav-item nav-btn progress-bar btn4" data-number="4">
    <div class="progress"></div>
  </div>
</div>