<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% page.indents.each do |item| %>
  <div class="col-md-4">
    <h4 class="indent-title">
        <%= item.title %>
      </h4>
      <p class="description">
        <%= item.body %>
      </p>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="button">
      Заказать проектирование
    </div>
  </div>
</div>