<div class="row">
  <div class="col-md-2 offset-md-5">
    <%= image_tag '/assets/branding-icon.svg', class: 'img-fluid' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="title text-center"><%= page.name %></h2>
  </div>
</div>