<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% page.indents.each do |item| %>
  <div class="col-md-3">
       
      <h4 class="indent-title">
        <%= item.title %>
      </h4>
      <p class="description">
        <%= item.body %>
      </p>
  </div>
  <% end %>
</div>