<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% Project.all.each do |item| %>
    <div class="col-lg-6">
      <div class="project-box">
        <h4 class="project-title">
          <%= item.name %>
        </h4>
        <span class="project-category">
          <%= item.category.parent.name %> | <%= item.category.name %>
        </span>
      </div>
    </div>
  <% end %>
  <div class="col-lg-6">
    <div class="project-box show-all">
      <div class="show-all-projects button">
        Показать все работы
      </div>
    </div>
  </div>
</div>