<h2 class="title text-center">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-8 offset-md-2 col-12 col-sm-8 offset-sm-2 ">
    <div class="description">
      <%= raw(page.indents.first.body) %>
    </div>
    <% unless mobile_device? %>
    <div class="slide-next button">
      Листать вправо    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <% end %>
  </div>
</div>
