<div class="row">
  <div class="col-lg-2 offset-lg-5">
    <%= image_tag '/assets/redesign-icon.svg', class: 'img-fluid' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h2 class="title text-center"><%= page.name %></h2>
  </div>
</div>