<div class="row">
  <% page.indents.each do |item| %>
  <div class="col-lg-6">
    <h2 class="title">
      <%= item.title %>
    </h2>
    <p class="description">
      <%= item.body %>
    </p>
  </div>
  <% end %>
</div>
<div class="button">
  Обсудить проект
</div>