<div class="row">
  <div class="col-md-4 col-12 col-sm-12">
    <%= image_tag '/assets/tick.svg',class: 'img-fluid' %>
  </div>
  <div class="col-md-8 col-12 col-sm-12">
   <div class="justify-box">
     <h2 class="title">
      <%= page.name %>
    </h2>
    <div class="row">
      <% page.indents.each do |item| %>
      <div class="col-md-6 col-12 col-sm-12 indent-box">
       <p class="description">
         <%= item.body %>
       </p>
        
      </div>
      <% end %>
    </div>
   </div>
    
  </div>
</div>