<div class="slick-slider">
 <div class="image-slide">
   <%= image_tag '/assets/comand1.png',class: 'img-fluid' %>
 </div>
  <div class="image-slide">
   <%= image_tag '/assets/comand1.png',class: 'img-fluid' %>
 </div>
  <div class="image-slide">
   <%= image_tag '/assets/comand1.png',class: 'img-fluid' %>
 </div>
  <div class="image-slide">
   <%= image_tag '/assets/comand1.png',class: 'img-fluid' %>
 </div>
  
  
</div>