<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% page.indents.each_with_index do |item,number| %>
  <div class="col-lg-4">
    <div class="justify-box horizontal">
      <h2 class="number"><%= number + 1 %></h2>
        <p class="description">
          <%= item.body %>
        </p>
    </div>
  </div>
  
  <% end %>
</div>