


<% pages.each_with_index do |page,number| %>
<div class="nav-item nav-btn slideBtn btn<%= number + 1 %>" data-number="<%= number + 1 %>" id="<%= page.title %>">
  <span><%= page.nav_name %></span>
</div>
<% if number + 1 != pages.size %>
  <div class="nav-item separator"></div>
<% end %>
<% end %>