<h2 class="title">
  <%= page.name %>
</h2>
  <div class="row">
    <% category.reviews.last(4).each do |item| %>
    <div class="col-md-6">
      <div class="review-box">
        <h4><%= item.name %></h4>
        <span><%= item.site %></span>
        <p><%= truncate(item.body,length: 60,separator: ' ') %></p>
      </div>
    </div>
    <%end %>
  </div>