<% if @project.errors.size != 0 %>
  $('.discuss-project-response-box .response-message').html("<p class='text-danger'><%= @project.errors.full_messages %></p>");
  $(".discuss-project-response-box").fadeIn();
<% else %>
  $('.modal_box').fadeOut();
  $('.discuss-project-response-box .response-message').html("<p class='text-success'>Ваш проект принят на рассмотрение!</p>");
  $(".discuss-project-response-box").fadeIn();
<% end %>