
<div class="row">
  <div class="col-md-7">
    <h2 class="title">
      <%= page.name %>
    </h2>
    <p class="description">
      <%= page.indents.first.body %>
    </p>
  </div>
  <div class="col-md-4 offset-md-1">
    <div class="justify-box">
      <span class="phrase">
        Твоему сайту не хватает функционала как украинскому чиновнику денег???
      </span>
      <span class="advice">Заполняй форму и мы все сделаем</span>
      <div class="sales">
        <span>%</span> Скидка 25% при заказе фирменного стиля вместе с сайтом визиткой
      </div>
      <div class="button modal-btn" onclick="ga('send', 'event', '<%= page.category.title %>_<%= page.title %>_page', 'form_1')">
        Заполнить форму
      </div>
    </div>
  </div>
</div>