<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% page.indents.each_with_index do |item,number| %>
  <div class="col-md-5 text-left indent-box">
    <%= image_tag item.image_url, class: 'indent-image img-fluid' %>
    <h4 class="indent-title"><%= item.title %></h4>
    <p class="description"><%= item.body %></p>
    <% if number == 1 %>
    <div class="how_work-button modal-btn button">
      Обратится к опытным специалистам
    </div>
    <%end%>
  </div>
  <% end %>
  
</div>