
<div class="row hidden-sm-down">
  <div class="col-md-7">
   <h2 class="title">
      <%= page.name %>
   </h2>
    <div class="description">
      <%= raw(page.indents.first.body) %>
    </div>
  </div>
  <div class="col-md-4 offset-md-1">
   <div class="category-box justify-box">
     <div class="sub-categories">
      <% @category.categories.each do |item| %>
        <%= link_to item.name,services_sub_category_path('marketing',item.title) %>
      <% end %>
    </div>
    <div class="advancement-button modal-btn button">
      Оставить заявку на PROдвижение
    </div>
   </div>
  </div>
</div>