<h2 class="title">
  <%= raw(page.name) %>
</h2>
<div class="row">
  <div class="col-md-5">
    <p class="description">
      <%= page.indents.first.body %>
    </p>
  </div>
  <div class="col-md-4 offset-md-3">
      <div class="indent-box">
        <h4 class="indent-title">
          <%= page.indents.last.title %>
        </h4>
        <p class="description">
          <%= page.indents.last.body %>
        </p>
        <div class="slide-next button">
          Листать дальше
        </div>
      </div>
  </div>
</div>