<h2 class="title">
  <%= raw(page.name) %>
</h2>
<div class="row">
  <div class="col-md-5">
    <div class="description">
      <%= raw(page.indents.first.body) %>
    </div>
  </div>
  <div class="col-md-4 offset-md-3 hidden-sm-down">
      <div class="indent-box">
        <h4 class="indent-title">
          <%= page.indents.last.title %>
        </h4>
        <p class="description">
          <%= page.indents.last.body %>
        </p>
        <div class="modal-btn button">
          Заказать интернет-магазин
        </div>
      </div>
  </div>
</div>