<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-12 col-12 col-sm-12">
    <div class="questions-container">
      <% Question.all.each do |item| %>
        <div class="row">
          <div class="col-md-12 col-12 col-sm-12">
            <div class="question-box">
             <div class="question-row">
                 <div class="switch off">
                   <%= image_tag '/assets/arrow-down.svg', class: 'img-fluid' %>
                 </div>
                 <div class="question">
                   <%= item.body %>
                 </div>
             </div>
             <div class="answer">
              <div class="row">
                <div class="col-md-6">
                  <%= item.answer %>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      
      <% end %>
    </div>
  </div>
</div>