<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% page.indents.each_with_index do |item,number| %>
  <div class="col-md-4 text-center">
    <%= image_tag item.image_url, class: 'indent-image img-fluid' %>
        <h4 class="indent-title"><%= item.title %></h4>
        <p class="description"><%= item.body %></p>
  </div>
  <% end %>
  <div class="col-md-4 text-center">
    <div class="show-price-bg">
      <div class="show-price-button button">
        Узнать цены
      </div>
    </div>
  </div>
</div>