<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-12 col-8 offset-2 stages">
    <%= image_tag mobile_device? ? '/assets/Group-mobile.png' : '/assets/Group.png', class: 'img-fluid' %>
  </div>
</div>