<h2 class="title text-center">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-10 offset-md-1">
   <p class="description text-center">
     <%= page.indents.first.body %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="button modal-btn">
      Заказать прототип
    </div>
  </div>
</div>