<h2 class="title text-center">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-10 offset-md-1">
   <div class="description text-center">
     <%= raw(page.indents.first.body) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="button modal-btn" onclick="ga('send', 'event', '<%= page.category.title %>_<%= page.title %>_page', 'send_discuss_project_12')">
      Заказать прототип
    </div>
  </div>
</div>