<div class="row">
  <div class="col-md-10">
    <h2 class="title">
      <%= page.name %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="statements-box">
      <% page.indents.each do |item| %>
      <div class="statement">
        <p class="description">
          <%= item.body %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>