<h2 class="title text-center">
  <%= page.name %>
</h2>
<div class="row">
  <% category.tariffs.each do |item| %>
  <div class="col-md-3 tariff">
    <div class="tariff-box text-center">
      <h4>
        <%= item.title %>
      </h4>
      <p>
        <%= raw(item.body) %>
      </p>
      <div class="price-box">
        $<%= item.price %>
      </div>
    </div>
  </div>
  <% end %>
</div>