<div class="row">
  <div class="col-md-5 indent-mobile">
    <div class="row">
      <div class="col-md-5">
        <div class="service-image">
          <%= image_tag page.indents.first.image_url,class: 'img-fluid' %>
        </div>
      </div>
    </div>
    <h2 class="title">
      <%= page.name %>
    </h2>
    <div class="description">
      <%= raw(page.indents.first.body) %>
    </div>
    
  </div>
  <div class="col-md-4 offset-md-2">
   <div class="category-box justify-box">
     <div class="sub-categories">
      <% @category.categories.each do |item| %>
        <%= link_to item.name,services_sub_category_path(page.title,item.title) %>
      <% end %>
      
    </div>
    <div class="design-button button modal-btn">
      Узнать цены
    </div>
   </div>
  </div>
</div>