<div class="row">
  <div class="col-lg-8">
    <h2 class="title">
  <%= page.name %>
</h2>
  </div>
</div>
 
<div class="row">
  <% page.indents.each_with_index do |item| %>
  <div class="col-lg-3">
    <div class="line"></div>
    <p class="description">
      <%= item.body %>
    </p>
  </div>
  <% end %>
</div>