<div class="row">
  <div class="col-md-8">
    <h2 class="title">
  <%= page.name %>
</h2>
  </div>
</div>
 
<div class="row">
  <% page.indents.each_with_index do |item| %>
  <div class="col-md-3 indent-box">
    <div class="indent-title">
      <%= item.title %>
    </div>
    <div class="line"></div>
    <div class="description">
      <%= raw(item.body) %>
    </div>
  </div>
  <% end %>
</div>