<div class="agreement-modal">
  
  <div class="agreement-content">
    <div class="close-agreement">
    <%= image_tag '/assets/close.svg',class: 'img-fluid' %>
  </div>
    <div class="rules-box">
      <p class="rules-text">
          Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании Закона Украины «О защите персональных данных» от 01.06.2010р. №2297-VI, в следующих целях:
        </p>
      <ul class="rules">
        <li>Осуществление клиентской поддержки</li>
        <li>Получения Пользователем информации о маркетинговых событиях</li>
        <li>Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.</li>
      </ul>
        <p class="rules-text">
          Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя такая как:
        </p>
      <ul class="rules">
        <li>Фамилия, Имя, Отчество</li>
        <li>Дата рождения</li>
        <li>Контактный телефон</li>
        <li>Адрес электронной почты</li>
        <li>Почтовый адрес</li>
      </ul>
        <p class="rules-text">
          Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
        </p>
      <ul class="rules">
        <li>По запросам уполномоченных органов государственной власти Украины только по основаниям и в порядке, установленным законодательством Украины.</li>
        <li>Стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.</li>
      </ul>
    </div>
  </div>
</div>