<div class="agreement-modal">
  
  <div class="agreement-content">
    <div class="close-agreement">
    <%= image_tag '/assets/close.svg',class: 'img-fluid' %>
  </div>
    <div class="rules-box">
      <ul class="rules">
        <li>Pravilo</li>
        <li>Pravilo</li>
        <li>Pravilo</li>
        <li>Pravilo</li>
        <li>Pravilo</li>
      </ul>
    </div>
  </div>
</div>