<div class="discuss-project-response-box">
  
  <div class="discuss-project-response-content">
    <div class="close-response-box">
    <%= image_tag '/assets/close.svg',class: 'img-fluid' %>
  </div>
   <div class="response-message">
     
   </div>
  </div>
</div>