<% if mobile_device? %>

  <div class="logo">
    <a href="/">
        <%= image_tag '/assets/text-logo.svg' %>
    </a>
  </div>
  <div class="hamburger mobile">
       <div class="hamburger_inner">
         <div class="middle-line"></div>
         <div class="left-line"></div>
         <div class="right-line"></div>
         <div class="rectangular"></div>
       </div>
  </div>
<% else %>
<div class="hamburger">
       <div class="hamburger_inner">
         <div class="middle-line"></div>
         <div class="left-line"></div>
         <div class="right-line"></div>
         <div class="rectangular"></div>
       </div>
</div>
<div class="menu">
  <div class="container">
       <div class="row">
         <div class="col-md-11 col-md-11">
           <div class="row">
             <div class="col-md-3 col-md-3 higher">
          <div class="logo">
            <a href="/">
             <%= image_tag '/assets/text-logo.svg' %>
           </a>
          </div>
         </div>
         <div class="col-md-6 offset-md-3  higher text-right">
           <div class="contacts">
             <a href="tel:+380673425103" class="phone">+38 094 <span class="bolder">850-77-13</span></a>
              <div class="discuss-project modal-btn button" onclick="ga('send', 'event', 'main_page_project', 'discuss_project')">
                 Обсудить проект
               </div>
           </div>
         </div>
           </div>
         </div>
       </div>
     </div>
</div>
<% end %>

